body {
    font-family: "Spartan", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: hsl(180,52%,96%);
    color: hsl(180,29%,50%);
    text-align: center;
    margin: 0;
}

.page-heading{
    height: 10rem;
    background-image: url("images/bg-header-desktop.svg");
    background-color: hsl(180,29%,50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filters-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.75rem 2rem;
    margin: 0 10%;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.1rem hsla(180, 29%, 50%, 0.15);
    transform: translateY(-50%);
}

.filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}

.filter-name{
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    font-weight: 700;
    font-size: 12px;
}

.filter-removal{
    outline: 0;
    border: 0;
    background-color: hsl(180, 29%, 50%);
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 7px 7px 6px 7px;
}

.filter-removal:hover{
    cursor: pointer;
    background-color: hsl(180, 14%, 20%);
}

.filters-clear{
    color: hsl(180, 8%, 52%);
    font-weight: 700;
}

.filters-clear:hover{
    text-decoration: underline;
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}

.listings{
    padding: 0 10%;
}

.listing-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    padding: 2rem;
    box-shadow: 0.2rem 0.5rem 1rem 0.1rem hsla(180, 29%, 50%, 0.15)
}

.is-featured{
    border-left: 0.35rem solid hsl(180, 29%, 50%);
    box-sizing: border-box;
}

.listing-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listing--logo{
    object-fit: contain;
    margin-right: 1rem;
}

.listing-info-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listing--company--container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listing--company{
    padding: 0;
    margin: 0;
    margin-right: 0.75rem;
    font-size: 14px;
}

.listing--new{
    background-color: hsl(180, 29%, 50%);
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 7px;
    padding-top: 6px;
    margin: 0 0.25rem;
    border-radius: 1rem;
}

.listing--featured{
    background-color: hsl(180, 14%, 20%);
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 7px;
    padding-top: 6px;
    margin: 0 0.25rem;
    border-radius: 1rem;
}

.listing--position{
    color: hsl(180, 14%, 20%);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5rem 0;
    text-align: left;
}

.listing--position:hover{
    cursor: pointer;
    color: hsl(180, 29%, 50%);
}

.listing--tap{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: hsl(180, 8%, 52%);

}

.divider{
    margin: 0 0.75rem;
}

.listing-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listing--tag{
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
    border: none;
    outline: none;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.25rem;
}

.listing--tag:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(180, 29%, 50%);
}

@media screen and (max-width: 414px){
    .page-heading{
        background-position: right;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }